TZ=UTC
MARIADB_VERSION=11.4

LOGIN_EXTERNAL_PORT=2106
GAME_EXTERNAL_PORT=7777

DB_HOST=mariadb
DB_PORT=3306
DB_NAME=l2jmobiush5
DB_USER=l2j
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-root-password

PUBLIC_IP=172.238.199.84
PUBLIC_DOMAIN=l2newera.com

GAME_LOGIN_HOST=login
LOGIN_GAME_HOST=0.0.0.0
LOGIN_INTERNAL_PORT=9014
LOGIN_BIND_HOST=0.0.0.0
GAME_BIND_HOST=0.0.0.0
REQUEST_SERVER_ID=1
